* {
  box-sizing: border-box;
  font-family: Oxygen, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100%;
}

main {
  width: 100%;
  display: flex;
}

/* ----------------Aside----------------- */

aside {
  background-color: #51768C;
  border: solid 1px black;
  color: white;
  display: flex;
  height: 100vh;
  width: 320px; 
  position: fixed;
  flex-direction: column;
  align-items: center;
  padding: .5em 1em 0 1em;
}

.aside__logo {
  font-size: 30px;
  margin-top: 20px;
}

.aside__logo-fit {
  font-weight: 700;
}

h1 {
  margin-bottom: 1em;
}

.aside__h2 {
  font-size: 1.5em;
}

#aside__email {
  font-size: 1.2em;
}

.aside__user-name {
  font-size: 1em;
}

.aside__date {
  font-size: 1.1em;
  margin-top: 10px;
}

.aside__figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  margin-top: 60px;
}

.user-label {
  border-bottom: 1px solid lightgray;
  font-size: 1.5em;
  color: rgba(255,255,255,0.6);
}

.user-info {
  font-size: 1.3em;
  margin-top: .5em;
}

/* ----------------Main----------------- */

main {
  display: flex;
}

.main__column-one,
.main__column-two {
  width: 41%;
}

.main__column-one {
  margin-left: 320px;
}

.main__section {
  height: 650px;
  padding: 1em;
}

/* ----------------Main Activity Section----------------- */

.main__activity {
  height: 1050px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.activity__header {
  font-weight: 700;
}

.activity__info-header {
  font-weight: 400;
}

.activity__header-div {
  border-bottom: 1px solid gray;
  margin-bottom: .5em;
}

.activity__info-div {
  border-bottom: 1px solid gray;
  margin-bottom: .5em;
  padding-bottom: .5em;
}

/* ----------------Main Hydration Section----------------- */

.main__hydration {
  height: 560px;
  border-bottom: 1px solid black;
}

.hydration__header {
  font-weight: 700;
}

.hydration__info-header {
  font-weight: 400;
}

.hydration__header-div {
  border-bottom: 1px solid gray;
  margin-bottom: .5em;
}

.hydration__info-div {
  border-bottom: 1px solid gray;
  margin-bottom: .5em;
  padding-bottom: .5em;
}

/* ----------------Main Step Challenge Section----------------- */

.main__step-challenge {
  height: 470px;
  border-bottom: 1px solid black;
}

.step-challenge-header {
  font-weight: 700;
}

.step-challenge__header-div {
  border-bottom: 1px solid gray;
}

/* ------------------------Main Sleep Section-------------------- */

.main__sleep {
  height: 660px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.hours-slept__header-input {
  font-weight: 700;
}

.sleep__header-div {
  border-bottom: 1px solid gray;
}

/* ---------------------------Logo Section------------------------ */

.logo__section {
  background-color: #51768C;
  height: 680px;
  display: block
}

.logo__section-img {
  height: 600px;
  width: 300px
  margin: auto;
  fill: white;
}

.logo__section-authors {
  color: white;
  font-weight: 400;
  margin-left: 20%;
}

@media only screen and (min-width: 1200px) and (max-width: 1400px){

  .main__hydration,
  .main__activity,
  .main__column-two,
  .main__column-one {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main__column-two {
    border: solid 1px black;
  
  }
  
}
/*mobile */
@media only screen and (min-width: 600px) and (max-width: 1200px){
  
  
  .main__hydration,
  .main__activity,
  .main__column-two,
  .main__column-one {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main__column-two {
    border: solid 1px black;
    margin-left: 320px;
  }
  
  main {
	display: flex;
	flex-direction: column;
  justify-content: space-between;
  background-color: rgb(235, 231, 231)
  }

  .activity__header-section {
    max-height: 250px;
  }

  .hydration__header-section {
    max-height: 200px;
  }

  .sleep__header-section {
    max-height: 50px;
  }
}
